@inherits LayoutComponentBase

<div class="page">
  
    

    <div class="main">
        <div class="top-menu px-4">
        <NavMenu />
        <TopMenu/>
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>
<BlazoredToasts/>